:root {
  scrollbar-width: thin;
  --neutral-base: #ffffff;
  --background-base: #f5f5f5ff;
  --default-border-radius: 4px;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
